.create-laravel-project.conf.swp
create-laravel-project_0.1.orig.tar.xz
create-laravel-project_0.1-1.1_amd64.build
create-laravel-project_0.1-1.1_amd64.buildinfo
create-laravel-project_0.1-1.1_amd64.changes